<!doctype html>
<html lang="vi">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <!-- Nhúng font Google (đặt ở đây) -->
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Serif&family=Quicksand:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  {%- include head-custom.html -%}
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-HV5EBZTLVF"></script>

  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-HV5EBZTLVF');
</script>
</head>
<body>
  <div class="top-bar">
     <a href="https://www.publicstudy.net/">🏠 Trang chủ</a>
         <a href="https://exam12.publicstudy.net/"> Kiểm tra</a>
     <a href="https://mamchoila.publicstudy.net/"> Mini Game Mầm Chồi Lá</a>
    
    </div>

   <div class="content">
    {{ content }}
  </div>
  <footer>
  <p>
    © 2025 PublicStudy 
    <a href="{{ '/about' | relative_url }}">Giới thiệu</a> | 
    <a href="{{ '/privacy-policy' | relative_url }}">Chính sách bảo mật</a> | 
    <a href="{{ '/terms' | relative_url }}">Điều khoản sử dụng</a>
  </p>
</footer>


</body>
</html>
